@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: -webkit-linear-gradient(left, #289599, #e70a9d);
}
::selection{
  background: #050505;
  color: #fff;
}
.wrapper{
  overflow: hidden;
  width: 95%;
  color: rgb(0, 0, 0);
  background: rgb(253, 252, 252);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  max-height: max-content;
}
.wrapper .title-text{
  display: flex;
  width: 200%;
}
.wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.mobile{
  color: rgb(247, 243, 243);
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #a445b2, #02d0f5);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
#computer:checked ~ .slider-tab{
  left: 50%;
}
#mobile:checked ~ label.mobile{
  color: #fff;
  cursor: default;
  user-select: none;
}
#mobile:checked ~ label.mobile{
  color: rgb(0, 0, 0);
}
#computer:checked ~ label.computer{
  color: rgb(0, 0, 0);
}
#computer:checked ~ label.computer{
  cursor: default;
  user-select: none;
}
.wrapper .form-container{
  width: 100%;
  overflow: hidden;
  max-height: max-content;
}
.form-container .form-inner{
  display: flex;
  width: 500%;
}
.form-container .form-inner form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  
}
.form-container .form-outer{
  display: flex;
  width: 200%;
}
.form-container .form-outer form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.products{
  background: transparent;
}
.service{
  display: grid;
  background: transparent;
}

strong{
  color: rgb(38, 0, 255);
}
strong1{
  color: #ff0000;
}
.container2{
background-image: url(lovepik-city-building-png-image_400184601_wh860.jpg);
max-width: 100%;
padding: 180px;

}
h1{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: 50px;
  color: rgb(0, 0, 0);
}
.container1{
  background: linear-gradient(white,rgb(250, 146, 207),white, rgb(250, 150, 242), white);
  margin: 0px;
  padding: 40px;
  width: 100%;
}
p{
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  width
}
.table.in{
  width: 100%;
  display: grid;
}

.container {
    width: 100%;
    height: 100%;
    margin: auto;

}

.row {
    display: flex;
    flex-wrap: wrap;

}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
position: sticky;
bottom: 0%;
width: 100%;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;

}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;

}

.footer-col .social-links a:hover {
    color: #26242b;
    background-color: #ffffff;

}
@media(max-width:767px;) {
    .footer-col{
    width: 50%;
    margin-bottom: 30px;
}

}

@media(max-width:576px;) {
.footer-col{
width: 50%;
margin-bottom: 100px;
}}
section,
body,
img{
  box-sizing: border-box;
}
section img{
  width: var(--width);
}
section{
  margin: 2rem;
  background: linear-gradient(rgb(255, 255, 255), rgb(236, 116, 216));
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 25%;
  overflow: hidden;
  box-shadow: opx 2px 20px;
  transition: 250ms all ease-in-out;
  cursor: pointer;
  height: 10%;
}
section:hover{
  transform: scale(1.05);
  box-shadow: 0px 2px 40px;
}
button{
  background-color: rgb(255, 74, 225);
  font-size: x-large;
  font-family: Impact;
  padding: 10px;
  border-radius: 20px 10px;
  border-color: white;
}
button a{
  color: white;
}
button:hover{
  background-color: rgb(10, 153, 248);
  border-color: white;
  border-radius: 10px 20px;
}
a :hover{
  color: black;
}